URxvt*font:           xft:Inconsolata:size=8

! Layout
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.autohint:   false
Xft.lcdfilter:  lcddefault
URxvt.letterSpace: 0
Urxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt*tintColor            : #ffffff
URxvt*externalBorder       : 10
URxvt*internalBorder       : 10
URxvt*borderLess           : 0
URxvt*lineSpace            : 0



! Scrollbar 
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.scrollBar_floating: false
URxvt.scrollstyle: rxvt

! Colors
*.foreground:   #f8f8f2
*.background:   #272822
*.cursorColor:  #f8f8f2
! black
*.color0:       #272822
*.color8:       #75715e

! red
*.color1:       #f92672
*.color9:       #f92672

! green
*.color2:       #a6e22e
*.color10:      #a6e22e

! yellow
*.color3:       #f4bf75
*.color11:      #f4bf75

! blue
*.color4:       #66d9ef
*.color12:      #66d9ef

! magenta
*.color5:       #ae81ff
*.color13:      #ae81ff

! cyan
*.color6:       #a1efe4
*.color14:      #a1efe4

! white
*.color7:       #f8f8f2
*.color15:      #f9f8f5



! Clipboard
!URxvt.perl-ext-common:  ...,clipboard,...
URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste

! URLs
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

! Dmenu

dmenu.selforeground:      #474c57
dmenu.background:         #ffffff
dmenu.selbackground:      #4ec2e8
dmenu.foreground:         #474c57